{% extends 'base.html' %}
{% load define_action %}
{% load tags %}
{% block content %}
    <form method="post" action="/settings">
        <ul class="collapsible content" data-collapsible="expandable">
            <li id="Stats">
                <div class="collapsible-header">
                    <i class="material-icons">show_chart</i> Statistics
                </div>
                <div class="collapsible-body">
                    <div id="time_since"></div>
                    {% if stats %}
                        {% for stat in stats %}
                            <div class="row valign-wrapper">
                                <div class="col valign s12 m6 l8">
                                    <h5>{{ stat }}</h5>
                                    {{ stats_info|dict_key:stat }}
                                </div>
                                <div align="center" class="col s12 m6 l4">
                                    <h5>{{ stats|dict_key:stat }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        Acquiring stats... Please come back later.
                    {% endif %}
                </div>
            </li>

            <li id="Settings">
                <div class="collapsible-header">
                    <i class="material-icons">tune</i> Settings
                </div>
                <div class="collapsible-body">
                    {% for setting_type in settings %}
                        {% if setting_type != 'Global' %}
                            {% with group=settings|dict_key:setting_type %}
                                <ul class="collapsible" data-collapsible="expandable">
                                    <li id="{{ setting_type }}">
                                        <div class="collapsible-header">
                                            <i class="material-icons">{{ group|dict_key:'icon' }}</i> {{ setting_type }}
                                        </div>
                                        <div class="collapsible-body">
                                            {% for setting in group %}
                                                {% with s=group|dict_key:setting %}
                                                    {% if setting != 'info' and 'info' in s %}
                                                        {% with name=setting_type|to_form_name:setting info=s|dict_key:'info' type=s|dict_key:'type' val=s|dict_key:'val' %}
                                                            {% define disabled as False %}
                                                            {% if 'disabled' in s and s|dict_key:'disabled' %}
                                                                {% define disabled as True %}
                                                            {% endif %}

                                                            <div class="row valign-wrapper">
                                                                <div class="col s12 m6 l8">
                                                                    <!-- info -->
                                                                    <h5 id='{{ setting }}'>{{ setting }}</h5>
                                                                    {{ info|safe }}
                                                                </div>
                                                                <div align="center"
                                                                     class="in valign valign-wrapper col s12 m6 l4">
                                                                    <!-- HANDLE ALL THE DIFFERENT FORM INPUTS -->
                                                                    {% if type == 'switch' %}
                                                                        <span class="switch">
                                                                        <label>
                                                                            <input type="checkbox"
                                                                                   name="{{ name }}"
                                                                                   {% if val %}checked{% endif %}
                                                                                   {% if disabled %}disabled{% endif %}>
                                                                            <span class="lever"></span>
                                                                            <input type='hidden' value='0'
                                                                                   name="{{ name }}">
                                                                        </label>
                                                                    </span>

                                                                    {% elif type == 'select' %}
                                                                        <select name="{{ name }}"
                                                                                {% if disabled %}disabled{% endif %}>
                                                                            {% for option in options %}
                                                                                <option
                                                                                        {% if option == val %}selected{% endif %}
                                                                                        value="{{ option }}">
                                                                                    {{ option }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        <select name="{{ name }}"
                                                                                {% if disabled %}disabled{% endif %}>
                                                                            {{ options|safe }}
                                                                        </select>

                                                                    {% elif type == 'range' %}
                                                                        <div class="range-field">
                                                                            <input type="range"
                                                                                   name="{{ name }}"
                                                                                   value="{{ val }}"
                                                                                   min="{{ s|dict_key:'min' }}"
                                                                                   max="{{ s|dict_key:'max' }}"
                                                                                   {% if 'step' in s %}step="{{ s|dict_key:'step' }}"{% endif %}
                                                                                   {% if disabled %}disabled{% endif %}>
                                                                        </div>

                                                                    {% elif type == 'text' %}
                                                                        {% if 'icon' in s %}
                                                                            <label style="padding-right: 10px"
                                                                                   class="valign material-icons">{{ s|dict_key:'icon' }}</label>
                                                                        {% endif %}
                                                                        <input style="margin: 0;"
                                                                               type="text"
                                                                               name="{{ name }}"
                                                                               value="{{ val }}"
                                                                               {% if disabled %}disabled{% endif %}>

                                                                    {% elif type == 'time' %}
                                                                        <label style="padding-right: 10px"
                                                                               class="material-icons">timer</label>
                                                                        <input style="margin: 0;"
                                                                               type="text"
                                                                               name="{{ name }}"
                                                                               class="timepicker"
                                                                               value="{{ val }}"
                                                                               {% if disabled %}disabled{% endif %}>

                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endwith %}
                                                    {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        </ul>
        <button id="sub" type="submit" class="btn-floating btn-large disabled"><i class="material-icons">done</i>
        </button>
    </form>
{% endblock %}

{% block js %}
    <script>
        // https://stackoverflow.com/a/3177838/2768038
        function timeSince(date) {
            var seconds = Math.floor((new Date() - date) / 1000);
            var interval = Math.floor(seconds / 31536000);
            if (interval > 1) {
                return interval + " years";
            }
            interval = Math.floor(seconds / 2592000);
            if (interval > 1) {
                return interval + " months";
            }
            interval = Math.floor(seconds / 86400);
            if (interval > 1) {
                return interval + " days";
            }
            interval = Math.floor(seconds / 3600);
            if (interval > 1) {
                return interval + " hours";
            }
            interval = Math.floor(seconds / 60);
            if (interval > 1) {
                return interval + " minutes";
            }
            return Math.floor(seconds) + " seconds";
        }

        var should_prevent = false;

        function onChange() {
            should_prevent = true;
            $("#sub").removeClass("disabled");
            $("#sub").addClass("pulse");
            setTimeout(function () {
                $("#sub").removeClass("pulse");
            }, 1000);
        }

        $(document).ready(function () {
            // initiate open settings sections
            if (sessionStorage.getItem("closes")) {
                var arr = JSON.parse(sessionStorage.getItem("closes"));
                for (var key in arr) {
                    if (arr[key] === 1) {
                        $("#" + key).find(".collapsible-header").first().addClass("active");
                    }
                }
            }

            function collapse(id, open) {
                var closes = JSON.parse(sessionStorage.getItem("closes"));
                if (!closes) {
                    closes = {};
                }
                closes[id] = open;
                sessionStorage.setItem("closes", JSON.stringify(closes));
            }

            $('.collapsible').collapsible({
                onOpen: function (el) {
                    collapse($(el).attr("id"), 1);
                },
                onClose: function (el) {
                    collapse($(el).attr("id"), 0);
                }
            });


            $('.timepicker').pickatime({
                fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                twelvehour: false, // Use AM/PM or 24-hour format
                donetext: 'OK', // text for done-button
                cleartext: 'Clear', // text for clear-button
                canceltext: 'Cancel', // Text for cancel-button
                autoclose: true, // automatic close timepicker
                ampmclickable: true, // make AM PM clickable
                afterDone: function () {
                    onChange();
                }
            });

            $("form").on('change keyup', function () {
                onChange();
            });
        });
    </script>
{% endblock %}