{% extends '../helpers/base.html' %}
{% block content %}
    <div align="center"><strong>Before using ID My Team you must set your username and credentials from your <a
    target="_blank" href='https://idmy.team/profile'>ID My Team - Profile</a></strong></div>
    <br><br>
    <span class="material-icons">face</span><input id="username" type="text" placeholder="Username">
    <br>
    <span class="material-icons">vpn_key</span> <input id="credentials" type="text" placeholder="Credentials">
    <div align="center"><button id="takeaway" class="btn">Submit</button></div>

    {% block js %}
        <script>
            $("#takeaway").on("click", function () {
                var username = $("#username").val().trim();
                var cred = $("#credentials").val().trim();
                if (username.length > 0 && cred.length >= 40) {
                    $.redirect("/backend/settings/edit.php", {
                        'credentials_id-my-team-username': username,
                        'credentials_id-my-team-credentials': cred
                    });
                }
            });
        </script>
    {% end %}
{% end %}