* {
  color: #1c1c1c;
  font-family: "Montserrat", Georgia, sans-serif;
}

#welcome .info {
  color: #2B6F75;
}
#welcome img {
  margin-top: 5%;
}

body {
  border: #1c1c1c 3px solid;
  background: #f6f6f6;
}

img.svg {
  visibility: hidden;
}

h1 {
  display: table;
  border: #1c1c1c 5px solid;
  padding: 0.5em;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  color: #bc2122;
}

h2 * {
  font-family: "Montserrat", Georgia, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px;
  margin-bottom: 20px;
  border: #1c1c1c 3px solid;
  font-weight: 700;
}

h4 {
  border-bottom: #1c1c1c 3px solid;
}

.content {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
.content a:not(.btn) {
  border-bottom: 1px dashed #b3b3b3;
  display: inline;
}

/* message to client that fades out */
.ESC {
  padding: 10px;
  border: #1c1c1c 3px solid;
  font-weight: 600;
  text-align: center;
  -webkit-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.ESC .disable-animate {
  -webkit-animation-delay: unset;
  animation-delay: unset;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
  }
}
.error {
  color: #bc2122;
}

canvas {
  border: #1c1c1c 3px solid;
}

.success, .success * {
  color: #67A062 !important;
}

.btn {
  text-transform: none !important;
  position: relative;
  transition: all 0.1s ease 0s;
  top: 0;
}
.btn:hover {
  top: -5px;
}

.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 0.7rem;
  font-size: 10px;
  background-color: #b3b3b3;
}
.btn-small:hover {
  background-color: #474747;
}

.nav-wrapper {
  background-color: #DCC698;
  padding-bottom: 10px;
  border-bottom: #1c1c1c 3px solid;
}
.nav-wrapper a {
  color: #1c1c1c;
  font-weight: 800;
  font-family: monospace;
}
.nav-wrapper a:hover {
  font-weight: 200;
}
.nav-wrapper li {
  border-left: #1c1c1c 3px solid;
}
.nav-wrapper .brand-logo {
  height: 100%;
}
.nav-wrapper .brand-logo svg {
  height: 100%;
  position: relative;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-wrapper .brand-logo svg path {
  fill: #1c1c1c;
}
.nav-wrapper .brand-logo .error path {
  fill: #bc2122;
}

pre {
  text-align: left;
}

.in {
  margin-top: 10px;
}
.in div:not(.clockpicker-tick):not(.clockpicker-plate), .in .switch {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .row.valign-wrapper {
    display: inherit;
  }
}
textarea {
  font-family: "Cutive Mono", monospace;
  height: 50%;
  border: #1c1c1c 3px solid;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.modal-content {
  text-align: left;
  border: #1c1c1c 3px solid;
}

#modaltrain .material-icons {
  font-size: 2.5em;
}

strong {
  font-weight: 600;
}

.icon {
  z-index: 1;
  opacity: 0.7;
  color: #474747;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 40px;
  vertical-align: middle;
}

.icon:hover {
  cursor: pointer;
  opacity: 1;
}

.info {
  font-size: 20px;
  text-align: justify;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#sub {
  position: fixed;
  bottom: 20px;
  z-index: 10000;
}

.collapsible-header {
  background-color: rgba(0, 0, 0, 0) !important;
}
.collapsible-header .material-icons {
  line-height: 1 !important;
}

input[type=range] {
  border: none !important;
}

#classifiers * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#classifiers .active {
  opacity: 1 !important;
}
#classifiers .autocomplete-content {
  position: absolute;
}
#classifiers .ms-selected .circle {
  color: #ffe94a !important;
}
#classifiers .circle:hover {
  cursor: pointer;
  color: #ffe94a;
}

a {
  color: #1c1c1c;
}

.nottrained {
  color: #bc2122 !important;
}

.material-tooltip span {
  color: #e7e7e7 !important;
}

#members th, #members td {
  text-align: center;
}
#members th img, #members td img {
  margin-left: 1em;
}
#members .train {
  -webkit-animation: progress-bar 2s;
  -moz-animation: progress-bar 2s;
  animation: progress-bar 2s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #474747;
  background-color: #bc2122;
  font-size: 3em;
}
#members .train:hover {
  color: #ffe94a;
}
#members td .icon {
  font-size: 3em;
}

.new-pass {
  font-size: 3em !important;
  color: #474747;
}
.new-pass:hover {
  color: #ffe94a;
}

.stats {
  font-size: 3em !important;
  color: #474747;
}
.stats:hover {
  color: #2B6F75;
}

.delete {
  color: #474747;
}
.delete:hover {
  color: #bc2122;
}
.delete th {
  font-size: 20px;
}
.delete th .question {
  cursor: help;
}

.row .icon {
  position: relative;
  display: inline;
  top: 35px;
  left: 5px;
  font-size: 25px;
}

#train .face {
  cursor: default;
}
#train .delete {
  color: #474747;
}
#train .delete:hover {
  color: #bc2122;
}
#train #capture-btn {
  top: -30px;
}
#train #capture-btn i {
  font-size: 30px;
}

thead {
  border-bottom: #1c1c1c 3px solid;
}

table, .collapsible {
  border: #1c1c1c 3px solid !important;
}

.CodeMirror {
  border: #1c1c1c 3px solid;
}
.CodeMirror * {
  font-family: "Cutive Mono", monospace;
}

/* selection tool */
.material-icons {
  font-size: inherit;
  vertical-align: middle;
  line-height: unset;
  border-bottom: none !important;
}

a:hover {
  text-decoration: none !important;
}

.select-areas-outline {
  border: 4px #bc2122 solid;
  overflow: hidden;
}

.select-areas-resize-handler {
  border: 1px #fff dashed;
  height: 8px;
  width: 8px;
  overflow: hidden;
}

.select-areas-delete-area:after {
  color: #bc2122;
  font-size: 20px;
  content: "delete";
}

.delete-area {
  position: absolute;
  cursor: pointer;
  padding: 5px;
}

.toast a {
  color: #DCC698;
}
.toast span {
  color: #f6f6f6 !important;
}

.info-box {
  width: 80%;
  border: 3px #bc2122 solid;
  border-radius: 20px;
  padding: 20px;
}

.box {
  height: 0.8em;
  width: 0.8em;
  border: 1.2px #1c1c1c solid;
  display: inline-block;
  vertical-align: middle;
}

.portrait {
  max-width: 100%;
  max-height: 100%;
}

.flashme {
  cursor: unset !important;
  transition: none !important;
}

.border {
  border: #1c1c1c 3px solid;
}

.stat {
  font-size: 3em;
  font-weight: 600;
}

.btn-floating:hover {
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
